body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    background-color: black;
    color: white;
} 

.title{
    display: flex;
    font-weight: bolder;
    font-size: 30px;
    justify-self: center;
}

.choices{
    display: flex;
    gap: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 20vw;
    max-width: 200px;
    gap: 10px;
    border-style: inset;
    border-color: blue;
    background-color: white;
    color: black;
}

.container:hover{
    cursor:pointer;
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 5px 5px 20px 5px;
}

.playerClicked{
    background: linear-gradient(#3204fde6, #9907fae6);
}

.scoreboard{
    display: flex;
    flex-direction: column;
}

.computer{
    border-color:red;
}

.compClicked{
    transition: 0.2s;
    background-color: red;
}