body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title{
    display: flex;
    font-weight: bolder;
    font-size: larger;
}

.choices{
    display: flex;
    gap: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 150px;
    gap: 10px;
}

#rock{
    border-style: inset;
    border-color: gray;
}

#paper{
    border-style: inset;
    border-color: blue;
}

#scissor{
    border-style: inset;
    border-color: red;
}